
body {
    font-family: 'Open-Sans', sans-serif;
    width: 1901px;
}

header {
    display: flex;
    height: 70px;
    background-color: #1d2124;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px 10px;
}

.site-name {
    text-decoration: none;
    vertical-align: top;
    padding-left: 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.navigation {
    margin: 0;
    padding-top: 20px;
}

.navigation-items {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

.navigation-items li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 18px;
    font-size: 15px;
    font-weight: 600;
}

.search {
    padding: 30px;
    background-color: #000000;
}

.search-link {
    color: #ffffff;
    text-decoration: none;
}

.top-block {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/img-header-bg.jpeg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}


.top-block-headline {
    padding-top: 100px;
    padding-bottom: 40px;
    color: #ffffff;
    font-size: 27px;
}

.top-block-buttons {
    display: flex;
    padding-bottom: 130px;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.top-block-subscr {
    color: white;
    background-color: #89ca62;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 20px;
}

.top-block-bstart {
    color: white;
    background-color: #14b9d5;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;

}

.pop-posts {
    justify-content: center;
    background-color: #f2f2f2;
}

.pop-posts-headline {
    padding: 50px;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.pop-posts-images {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    box-sizing: border-box;
    height: 850px;
    width: 1200px;
}

.pop-posts-images a {
    display: flex;
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    padding: 20px 0;
    justify-content: center;
    text-decoration: none;
}

.pop-posts-img {
    margin-bottom: 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.pop-clients {
    display: grid;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/img_parallax-bg.jpeg);
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

.pop-clients-headline {
    padding: 200px 0 50px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.pop-clients-streak {
    padding-bottom: 56px;
}

.pop-clients-logo {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 10px;
    padding-bottom: 180px;
    align-items: center;
}

.top-rated {

    margin: 0 auto;
    display: grid;
    width: 1902px;
    background-color: white;
    text-align: center;

}

.top-rated-headline {
    padding: 100px 0 100px;
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

.top-rated-images {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-column-gap: 0;
}

.hot-news {
    display: grid;
    margin: 0 auto;
    background-color: white;
    justify-items: stretch;
    max-width: 1170px;

}

.news-headline {
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0;
}

.news-blocks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    grid-template-areas: "a a a a a a b b" "a a a a a a b b" "c c c c d d d d" "c c c c d d d d" "c c c c d d d d" "e e e e f f f f" "e e e e f f f f" "e e e e f f f f" "g g h h h h h h" "g g h h h h h h";

}

.news-block {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.news-block a {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.news-block p {
    color: #5b6469;
    font-size: 14px;
    line-height: 21px;
}
.news-block1 {
    grid-area: a;
    background-color: #f9f7f7;
}

.news-block1 a {
    padding: 20px 20px;
    text-align: right;
}

.news-block1 p {
    padding: 20px 15px 0 0;
    margin-left: 500px;
    text-align: right;
}

.news-block2 {
    grid-area: b;
    background-color: #f9f7f7;
}

.news-block2 a {

    padding: 14px 20px;
    text-align: center;
}

.news-block3 {
    grid-area: c;
    width: 554px;
    background-color: #f9f7f7;
}

.news-block3 a {
    padding: 10px 30px;
    text-align: right;
}

.news-block3 p {
    text-align: right;
    padding: 10px 30px;
}

.news-block4 {
    grid-area: d;
    justify-self: end;
    width: 554px;
    background-color: #f9f7f7;
}

.news-block4 a {
    padding: 10px 30px;
    text-align: right;
}

.news-block4 p {
    text-align: right;
    padding: 10px 30px;
}

.news-block5 {
    grid-area: e;
    width: 554px;
    background-color: #f9f7f7;
}

.news-block5 a {
    padding: 10px 30px;
    text-align: right;
}

.news-block5 p {
    text-align: right;
    padding: 10px 30px;
}

.news-block6 {
    grid-area: f;
    justify-self: end;
    width: 554px;
    background-color: #f9f7f7;
}

.news-block6 a {
    padding: 10px 30px;
    text-align: right;
}

.news-block6 p {
    text-align: right;
    padding: 10px 30px;
}

.news-block7 {
    grid-area: g;
    background-color: #f9f7f7;
}

.news-block7 a {
    padding: 14px 20px;
    text-align: center;
}

.news-block8 {
    grid-area: h;
    background-color: #f9f7f7;
}

.news-block8 a {
    padding: 20px 30px;
    text-align: right;
}

.news-block8 p {
    padding: 20px 30px 0 0;
    margin-left: 500px;
    text-align: right;
}

.footer {
    display: grid;
    padding: 25px 0;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    background-color: #1d2124;
}

.footer-copyright {
    grid-column: 2 / 2;
    padding-left: 50px;
    color: #ffffff;
    font-size: 13px;
    line-height: 21px;
}

.footer-logo {

    justify-self: end;
    padding-right: 50px;
    color: white;
    font-size: 22px;
    font-weight: 700;
}