.top-block {
    width: 100%;
    height: 60px;
    margin-top: -7px;
    text-align: center;
    background-color: white;
}
.top-block-text {
    display:inline-block;
    vertical-align: center;
    margin-top: 20px;
    color: #03a399;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif, AdobeInvisFont, R oboto-Black, Courier;
    letter-spacing: 2px;
    text-decoration: none;
    ;
    }
.image {
    max-width: 100%;
    background-size: 100%}

.second-block {
    display: inline-block;
    background-size: auto;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    text-align: center;
    background-color: #F5F6F7;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 0px;
 }

.artikel-text {
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 20px;
    line-height: 25px ;
    letter-spacing: 2px;
    text-transform: none;
}
.transition-button {
    background-color: #03a399;
    color: white;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    letter-spacing: 3px;
    wigth: 30px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 70px;
    border-radius: 5px;
    text-transform: uppercase;

}
.undertext {
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 7%;
    margin-top: 2%;


}