
body {
    background-image: url('../image/background.png');
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}


a {
    color: unset;
    text-decoration: none;
}

h2 {
    font-size: 20px;
    letter-spacing: 1px;
}

.top-block {
    width: auto;
    height: 55px;
    background: rgba(10, 10, 07, 0.5);

}

.titel {
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 60px;
    letter-spacing: 1px;
}

.titel:hover {
    color: #49BD81;
}

.top-block-text {
    display: inline-block;
    float: right;
    padding: 15px 70px;

}

.spritesic-forum-1x, .spritesic-journey-1x, .spritesic-caledar-1x {
    display: inline-block;
    background: url("../image/icons.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-left: 20px;
}

.spritesic-forum-1x {
    background-position: -0px -0px;
    width: 28px;
    height: 20px;
}

.spritesic-forum-1x:hover {
    background: url("../image/ic_forum@1X_hover.png");
}

.spritesic-journey-1x {
    background-position: -0px -20px;
    width: 20px;
    height: 20px;
}

.spritesic-journey-1x:hover {
    background: url("../image/ic_journey@1X_hover.png");
}

.spritesic-caledar-1x {
    background-position: -0px -40px;
    width: 19px;
    height: 19px;
    margin-right: 50px;
}

.spritesic-caledar-1x:hover {
    background: url("../image/ic_caledar@1X_hover.png");
}

.wls {
    display: inline-block;
    text-align: right;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;

}

.log-in, .sign-up {
    color: #49BD81;

}

.log-in:hover, .sign-up:hover {
    text-decoration: underline;
}

.shape {
    float: left;
    margin-top: 30px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.modal {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 27px));
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    line-height: 30px;

}

.log {

    float: right;
    color: #49BD81;
    font-size: 14px;
}

.log:hover {
    text-decoration: underline;
}

.form {

    margin: 25px 60px;

}

.reg-button {
    text-align: center;
    margin-top: 10px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.fb {
    float: left;
    background-color: #305DB8;
    font-size: 16px;
    color: #FFFFFF;
    width: 158px;
    height: 47px;
    border-radius: 5px;
    border: 1px transparent solid;
}

.gl {
    float: right;
    background-color: #DF4A32;
    font-size: 16px;
    color: #FFFFFF;
    width: 158px;
    height: 47px;
    border-radius: 5px;
    border: 1px transparent solid;
}

.logo {
    display: inline-block;
    margin-right: 30px;

}


.or {
    font-size: 14px;
    text-align: center;
    color: #848484;
    padding-left: 20px;
    padding-right: 20px;
}

.left-line {
    margin-top: 30px;
    margin-bottom: 5px;


}

.right-line {
    margin-top: 30px;
    margin-bottom: 5px;
}


.datas {
    display: block;
    padding-bottom: 5px;
    margin-top: 5px;


}

.input {
    line-height: 46px;
    width: 312px;
    padding-left: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    outline: none;
}


.input:focus {
    border: 1px solid #EAEAEA;
    outline-color: #F7F7F7;
    box-shadow: -1px 2px 7px 2px rgba(0, 0, 0, 0.1);
}


.checkbox {
    display: none;

}

.checkbox-green {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #EAEAEA;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cane1 {
    display: inline-block;
    height: 0;
    width: 0;
    background: #3CB878;
    transform: translate(11px, -5px) rotate(50deg);
    transition: all 200ms;
}

.cane2 {
    display: inline-block;
    height: 0;
    width: 0;
    background: #3CB878;
    transform: rotate(52deg) translate(-8px, 1px);

}


input:checked + .cane1 {
    height: 10px;
    width: 4px;
}

input:checked ~ .cane2 {
    height: 4px;
    width: 8px;
}

.agree-text {
    font-size: 14px;
}

.terms-text {
    color: #3CB878;
    padding-left: 5px;
}

.terms-text:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 46px;
    text-align: center;
    background-color: #3CB878;
    border: transparent solid;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
}