
.container {
    width: 1280px;
    margin: 0 auto;

}

.logo {
    font-family: sans-serif;
    font-size: 80px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.ul_menu {
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    background-color: #35444F;
}

.li_menu {
    display: inline-block;
    font-family: sans-serif;
    padding: 22px 71px 22px 70px;
}
.li_menu:hover {
    background: #222F3A;
    border-left: 1.5px solid white;
    border-right: 1.5px solid white;

}
.main_unit {
    width: 1280px;
}
.sidebar {
    display: inline-block;
    margin-top: 30px;
    /* width: 1280px; */
    font-family: sans-serif;
    color: #495863;
    font-size: 24px;
}

.ul_sidebar {
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-width: thin;
    border-color: #495863;
}

.li_sidebar {
    padding: 35px 90px 35px 20px;
    list-style-type: none;
    font-family: sans-serif;
}
.li_sidebar:hover {
    background: #DBDBDB;
    padding-left: 25px;
}

.img_content {
    display: inline-block;
    width: 965px;
   }


.img {
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #495863;
    padding: 100px 306px;
    margin: 0 0 30px 40px;
    transition: 1s; /* Час ефекту */
}

.img:hover {
    transform: scale(1.2);
} /* Збільшуємо масштаб */

.content {
    display: inline-block;
    margin: 0 0 40px 40px;
}

.text {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 25px;

}

.ul_footer {

    padding: 20px 0 20px 20px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #B4B7BA;

}

.li_footer {
    display: inline-block;
    padding: 5px 20px; 
    font-family: sans-serif;
    color: black;
}
.li_footer > a:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

