
a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1192px;
    margin: 0 auto;
    border-style: solid;
    border-width: 30px 30px 25px 25px;
    border-color: #3A4965;
    font-family: sans-serif;
    color: #848484;
    font-size: 18px;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
    min-width: 1162px;

}

th, td {
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    height: 56px;

}

tr td:nth-child(1) {
    width: 311px;
    border-right: 3px solid #E0E0E0;
}
tr td:nth-child(2) {
    border-right: 3px solid #E0E0E0;
}
tr td:nth-child(3) {
    border-right: 3px solid #E0E0E0;
}
.menu-pr-plan {
    background-color: #FAFAFA;
    line-height: 30px;
    color: #484848;
    border-right: 3px solid #E0E0E0;
}
.menu-pr-plan2 {
    font-size: 30px;
    font-weight: bold;
}

.menu-standart {
    background-color: #89C331;
    color: #FFFFFF;
    font-size: 26px;
}
.menu-ultimate {
    background-color: #F04A56;
    color: #FFFFFF;
    font-size: 30px;
}
.menu-premium {
    background-color: #20807C;
    color: #FFFFFF;
    font-size: 26px;
}
.half {
    border-right: 3px solid #E0E0E0;

}
.sp1 {
    font-size: 55px;
    color: #484848;
    font-weight: bold;
}
.sp2 {

}

.storage {
    background-color: #F2F2F2;
}
.bandwidth {
    background-color: #E3E3E3;
}
.email {
    background-color: #F2F2F2;
}
.support {
    background-color: #E3E3E3;
}
.products {
    background-color: #F2F2F2
}
.users {
    background-color: #E3E3E3
}
.fa-archive {
    font-size: 26px;
    padding-right: 10px;

}
.fa-cloud-upload-alt {
    font-size: 26px;
    padding-right: 10px;
}
.fa-envelope {
    font-size: 26px;
    padding-right: 10px;
}
.fa-life-ring {
    font-size: 26px;
    padding-right: 10px;
}
.fa-cube {
    font-size: 26px;
    padding-right: 10px;
}
.fa-users {
    font-size: 26px;
    padding-right: 10px;
}
tfoot {
    line-height: 109px;
}

tfoot td:nth-child(1) {
    background-color: #DDDDDD;

}

tfoot td:nth-child(2) {
    background-color: #EEEEEE;
}

tfoot td:nth-child(3) {
    background-color: #F4F4F4;
}

tfoot td:nth-child(4) {
    background-color: #EEEEEE;
}

.contact-us, .buy-now1, .buy-now2, .buy-now3 {
    border: 1px;
    padding: 15px 60px;
    border-radius: 4px;

}

.contact-us {
    background-color: #484848;
    box-shadow: 0 9px 0 0 #404040;
}

.buy-now1 {
    background-color: #89C331;
    box-shadow: 0 9px 0 0 #79B027;
}

.buy-now2 {
    background-color: #F04A56;
    box-shadow: 0 9px 0 0 #DF3A46;
}

.buy-now3 {
    background-color: #20807C;
    box-shadow: 0 9px 0 0 #16736F;
}

a:hover {
    transform: scale(1.2);

}

