
.boxPrice {
    border: 2px solid black;
    width: 200px;
    margin: 50px;
    padding: 20px 10px;
    color: blue;
    background-color: #ffffff;
    border-radius: 3px;
}

.price {
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    font-size: 11px;
}

input {
    outline: none;
}