


.container {
    width: 320px;

    /*margin-right: 38px;*/
}
/*<section class="navigation">*/
.navigation {
    background-color: #373C3F;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__title {
    padding-left: 17px;
    font-size: 12px;
    color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-weight: bold;

}
.navigation__gamburger {
    background-color: #202529;
    padding: 10px 11px;

}
/***  drop-down-menu ****/
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 8px;
    width: 16px;
    height: 20px;
    cursor: pointer;
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: flex;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.menu__btn>span::before {
    content: '';
    top: -4px;
}

.menu__btn>span::after {
    content: '';
    top: 4px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 37px;
    left: 138px;
    width: 182px;
    height: 161px;
    text-align: left;
    background-color: #FAFAFA;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}
.menu__item {
    display: block;
    padding: 9px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #505050;
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

/***  drop-down-menu ****/
/*<section class="navigation">*/

/*<section class="header">*/
.header {
    background-image: url(image/header-fon.png);
    height: 161px;
    font-family: Lato,sans-serif;
    padding-left: 20px;
    padding-top: 12px;
    line-height: 25px;
    border-bottom: 4px solid #ffffff;
}

.header__tagline {
    font-size: 14px;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    color: #ffffff;
    line-height: 23.5px;
}

.header__sitename {
    font-size: 14px;
    color: #A6D6E0;
    letter-spacing: 0.3px;
}
/*<section class="header">*/

/*<section class="menu-parts">*/
.menu-parts__part {
    display: flex;
    font-family: Lato, sans-serif;

}

.menu-parts__part--img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 276px;
    background-image: url("image/menu-parts-image1.png");
    background-position: 78% 95%;
    margin-bottom: 2px;
    font-size: 20px;
    color: #ffffff;

}
.menu-parts__part--text1 {
    padding-bottom: 4px;
    padding-left: 3px;
}
.menu-parts__part--img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 276px;
    background-image: url("image/menu-parts-image2.png");
    background-position: 75% 93%;
    margin-bottom: 2px;
    font-size: 20px;
    color: #ffffff;

}
.menu-parts__part--text2 {
    padding-left: 23px;
}
.menu-parts__part--img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 276px;
    background-image: url("image/menu-parts-image3.png");
    background-position: 30% 16%;
    font-size: 20px;
    color: #ffffff;
}
.menu-parts__part--text3 {
    padding-right: 5px;
    padding-bottom: 3px;
}
.menu-parts__part--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 80px;
    background-color: #A5CEA6;
}
.fa-angle-right {
    color: #ffffff;
    padding-bottom: 5px;
    padding-right: 3px;

}

/*<section class="menu-parts">*/
/*<section class="menu-list">*/

.menu-list__title {
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 21px;
    color: #3F4043;
    padding-left: 7px;
}
.menu-list__title--p {
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: #CBCCCE;
    padding: 2px 9px;
}
.menu-list__part1 {
    font-family: Lato, sans-serif;
    color: #A5CEA6;
    background-color: #3F4043;
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 18px;
    margin-top: 10px;

}

.menu-list__subpart1 {
    display: flex;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    color: #3F4043;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 18px;
    padding-bottom: 4px;
    align-items: center;
}
.menu-list__subpart2 {
    display: flex;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    color: #3F4043;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-left: 17px;
    padding-right: 18px;
    padding-bottom: 4px;
    align-items: center;
}

.menu-list__item {
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 16px 7px 16px;
    letter-spacing: 0.2px;

}
.menu-list__item--p {
    display: flex;
    justify-content: flex-end;
    font-size: 8px;
    font-family: Lato, sans-serif;
    color: #3f4043;
    font-weight: bold;
    letter-spacing: 0.2px;
    word-spacing: 3px;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 10px;

}


.menu-list__part2 {
    font-family: Lato, sans-serif;
    color: #ffffff;
    background-color: #A5CEA6;
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 18px;
    margin-top: 32px;
}
.menu-list__subpart3 {
    display: flex;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    color: #3F4043;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px;
    align-items: center;
}
.menu-list__subpart4 {
    display: flex;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    color: #3F4043;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 17px;
    padding-right: 18px;
    padding-bottom: 6px;
    align-items: center;

}
/*<section class="menu-list">*/
/*<section class="footer"></section>*/
.footer {
    text-align: center;
    padding: 10px;
    margin-top: 48px;
    font-family: Montserrat, sans-serif;
    height: 35px;
    color: #ffffff;
    background-color: #A5CEA6;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;

}


/*<section class="footer"></section>*/



/*@media screen and (max-width: 640px) {*/
/*    .container {*/
/*        min-width: 321px;*/
/*    }*/
/*    .navigation {*/
/*        height: 74px;*/
/*        background-color: blue;*/
/*    }*/
/*    .navigation__title {*/
/*        padding-left: 19px;*/
/*        font-size: 24px;*/
/*    }*/
/*    .navigation__gamburger {*/
/*        background-color: #202529;*/
/*        color: #ffffff;*/
/*        padding: 10px 14px;*/

/*    }*/

/*}*/