
body {
    margin: 0;
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1143px;
    margin: 0 auto;
    text-align: center;
}

/*header*/
.header-background {
    width: 1920px;
    height: 1012px;
    position: relative;
    background-image: url(images/sections-background/header-background.png);
    background-attachment: fixed;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(93, 91, 87, 0.6);
    width: 1920px;
    height: 120px;
    align-items: center;
}

.logo-and-name {
    display: inline-block;
}

.logo {
    position: relative;
}

.logo-letter {
    position: absolute;
    top: 45px;
    left: 310px;
}

.site-name {
    vertical-align: 20px;
    padding-left: 5px;
}

.navigation {
    padding: 50px 20px;
    /*font-family: ﻿AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;*/
}

.navigation-items {
    display: flex;

}

.navigation-items li {
    padding-bottom: 0;

}

.navigation-items li a {

    color: #b8b8b8;
    text-transform: uppercase;
    padding: 50px 20px;
    font-size: 13px;
    font-weight: bold;

}

.navigation-items li a:hover {
    color: rgba(24, 207, 171, 255);
    border-bottom: 2px solid rgba(24, 207, 171, 255);
}

.fa-search {
    font-size: 22px;
}

/*header-text1   header-text2   header-tex3   header-buttons*/
.header-text {
    padding: 220px;
    line-height: 75px;
}

.header-text1 {
    /*font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;*/
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.header-text1-color {
    color: rgba(24, 207, 171, 255);
}

.header-text2 {
    /*font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;*/
    font-size: 69px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;


}

.header-text3 {
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;*/
    font-size: 30px;
    color: rgba(212, 212, 212, 255);
}

.header-button1 {
    font-size: 13px;
    font-weight: bold;
    width: 167px;
    height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 #ffffff;
    border-radius: 5px;
    margin-right: 16px;
    margin-top: 150px;
    outline: none;
}

.header-button2 {
    font-size: 13px;
    font-weight: bold;
    width: 167px;
    height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00cbf6;
    box-shadow: 0 -5px 0 0 #ffffff;
    border-radius: 5px;
    margin-left: 16px;
    margin-top: 150px;
    outline: none;
}

/*header end*/
/*info-bar*/

.str1 {
    width: 481px;
    height: 8px;
}

.str2 {
    width: 481px;
    height: 375px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /*font-family: AdobeInvisFont, Montserrat-Bold, Courier, sans-serif;*/
}

.str2 a {

}

.str1:nth-child(odd) {
    background-color: #18CFAB;
}

.str2:nth-child(odd) {
    background-color: #1C2A33;

}

.str2:nth-child(odd) a {
    color: #18CFAB;
}

.str2:nth-child(even) {
    background-color: #18CFAB;
}

.str2:nth-child(even) a {
    color: #ffffff;
}

.img-str2 {
    display: block;
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 50px;

}


/*info-bar-end*/
/*our-service*/


.our-services {
    margin-top: 85px;
    margin-bottom: 100px;
}

.our-services-title {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    color: #4E4E4E;
}

/*underline*/

.underline {

    position: relative;
    margin-top: 0;
    margin-bottom: 100px;

}

.underline::before {
    content: " ";
    position: absolute;
    display: block;
    bottom: -35px;
    left: 50%;
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}

.underline::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -40px;
    left: calc(50% + 15px);
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    transform: translate(-50%, 0);
}

/*underline-end*/


.our-services-all {
    display: table;
}


.our-services-names {
    display: table-row;
    justify-content: space-between;

}

.our-services-name {

    position: relative;
    display: table-cell;
    box-sizing: border-box;
    width: 190px;
    padding: 20px 0;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    font-size: 16px;

}

.our-services-name:hover,
.our-services-name.is-active {
    color: white;
    background-color: #18CFAB;
    border: none;
    outline: none;
}

.our-services-name:hover:before,
.our-services-name.is-active:before {
    display: block;
}

.our-services-name::before {
    content: "";
    position: absolute;
    display: none;
    bottom: -35px;
    left: 50%;
    border: 20px solid transparent;
    border-top: 15px solid #18CFAB;
    transform: translate(-50%, 0);
}

.our-services-content {
    display: none;
    margin-top: 40px;
    text-align: justify;
    line-height: 20px;
    color: #777777;

}

.our-services-content.is-active {
    display: block;
}

.our-services-content img {

    margin-right: 20px;
    float: left;


}

/*our-service-end*/
/*install*/

.install-background {
    width: 1921px;
    height: 477px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/sections-background/install-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.install-text1 {
    /*font-family: AdobeInvisFont,Montserrat-Bold,Courier, sans-serif;*/
    font-size: 40px;
    font-weight: bold;
    color: #18CFAB;
    padding-top: 150px;
    padding-bottom: 30px;

}

.install-text2 {
    /*font-family: AdobeInvisFont,Montserrat-Regular,Courier, sans-serif;*/
    font-size: 16px;
    color: #D8D8D8;
    padding-bottom: 70px;
}

.install-button {
    /*font-family: AdobeInvisFont,Montserrat-Bold,Courier, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    width: 166px;
    height: 62px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 #ffffff;
    border-radius: 5px;
    outline: none;

}

/*install-end*/
/*amazing-work*/

.amazing-work {
    /*font-family: AdobeInvisFont,Montserrat-Regular,Courier, sans-serif;*/
    /*margin-bottom: 100px;*/
    background-color: #F8FCFE;

}

.amazing-work-title {
    font-size: 36px;
    padding-top: 100px;
    text-align: center;
    font-weight: 400;
    color: #4E4E4E;
}

.amazing-work-all {
    display: table;
    width: 100%;
}

.amazing-work-names {
    width: 609px;
    display: inline-flex;
}


.amazing-work-name {
    display: table;
    align-items: center;
    color: #B3B3B3;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    padding: 20px 21px;
    font-size: 14px;
    outline: none;
}
.amazing-work-name:hover {
    color: #18cfab;
    border-top: 2px solid;
    border-top-color: #18cfab;

}


.amazing-work-images {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;

}
.amazing-work-block {
    position: relative;
}

.block {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 2;
    box-sizing: border-box;
    padding: 45px 66px;
    width: 284px;
    height: 206px;
    background-color: #FFFFFF;
    color: #919292;
    border-top: 2px solid #18cfab;
}
.amazing-work-block:hover .block {
    display: block;}
.block-text {
    display: inline-block;
    padding-top: 15px;
    color: #18cfab;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.block-img {
    border: 1px solid #18cfab;
    border-radius: 50%;
    padding: 14px;
    margin: 3px;
}
.block-img-search {
    border: 1px solid #18cfab;
    border-radius: 50%;
    background-color: #18cfab;
    padding: 16px;
    margin: 3px;
}
.amazing-work-button {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    width: 166px;
    height: 61px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #18cfab;
    border-radius: 5px;
    margin-bottom: 100px;
    outline: none;
}
.amazing-work-button img {
    position: absolute;
    left: 25px;
    top: 20px;
}
.amazing-work-button span {
    position: absolute;
    top: 20px;
    right: 25px;
}
/*amazing-work end*/
/*breaking-news*/

.breaking-news-title {
    font-size: 36px;
    padding-top: 100px;
    color: #4E4E4E;
}

.breaking-news-posts {
    display: flex;
    justify-content: space-between;
}
.breaking-news-post {
    position: relative;
}
.breaking-news-date {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 10px;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    color: white;
}
.breaking-news-post:hover .breaking-news-date {
    background-color: #18cfab;
}
.breaking-news-posts-wrapper:hover .title {
    color: #18cfab;
}
.breaking-news-posts-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.breaking-news-posts-bottom-title {

    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
    font-size: 18px;
    font-weight: bold;
    color: #8D8D8D;
    width: 263px;
    height: 72px;
}
.title, .comment {
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
}
.comment {
    font-size: 14px;

}

.line {
    border-left: 2px solid;
    padding-left: 15px;
    margin-left: 10px;

}



/*breacking-news-end*/
/*people*/


.people-background {
    width: 1920px;
    height: 852px;
    position: relative;
    background-image: url(images/sections-background/people-background.jpg);
    background-attachment: fixed;
    text-align: center;
}
.people-title {

    color: #FFFFFF;
    font-size: 36px;
    padding-top: 100px;

}
.people-text {
    width: 1098px;
    display: inline-flex;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 25px;
    color: white;

}
.people-name {
    color: #18cfab;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.people-position {
    font-size: 16px;
    color: #BBBBBB;
}
.people-image {
    margin-top: 50px;
}
.people-face {
    border-radius: 50%;
}
/*people-end*/
/*gallery*/


.gallery-title {
    font-size: 36px;
    padding-top: 100px;
    color: #4E4E4E;
    text-align: center;

}
/*gallery-end*/
/*footer*/


.footer {
    height: 109px;
    background-color: #22353F;
    margin-bottom: 20px;
}
.footer-text {
    text-align: center;
    font-size: 14px;
    color: #BBBBBB;
    padding-top: 50px;

}
.footer-text-ham {
    color: #18cfab;
}
