
a {
    text-decoration: none;
    color: inherit;
}

.bg {
    max-width: 100%;
    margin: 0 auto;
    background-image: url("../img/background.png");
}

.container {
    max-width: 1065px;
    margin: 0 auto;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding-top: 37px;
    padding-bottom: 30px;
}

.header {
    float: left;
}

.logo {
    background: url(../img/logo.png);
    width: 46px;
    height: 44px;
    float: left;

}

.logo:hover {
    background-image: url("../img/logo-hover.png");

}

.title {
    float: left;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 29px;
    padding-left: 10px;

}
.title:hover {
    color: #F26522;
}

.title1 {
    font-size: 18px;

}

.contacts {

    font-size: 18px;
    line-height: 25px;
    float: right;
    color: white;
    text-align: right;

}

.content {

    padding-top: 35px;
    padding-bottom: 50px;

}

.clearfix {
    content: "";
    display: table;
    clear: both;

}


.image1, .image2, .image3, .image4, .image5, .image6 {
    float: left;
    position: relative;


}


.orange-block {
    color: #FFFFFF;
    background: #F26522;
    display: none;
    width: 308px;;
    height: 65px;
}

.from, .euro {


}

.from {
    float: left;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

.euro {
    display: block;
    font-size: 20px;


}

.view-d {

    font-size: 15px;
    float: right;
    padding-top: 25px;
    padding-right: 10px;


}

.image1 {
    padding: 0 35px 37px 0;

}

.image1:hover .orange-block {
    display: block;
    position: absolute;
    left: 2px;
    top: 139px;
}

.image1:hover .tours-name {
    color: #F26522;
}

.image1:hover .title {
    color: #F26522;
}

.image2 {
    padding: 0 35px 37px 30px;
}

.image2:hover .orange-block {
    display: block;
    position: absolute;
    left: 32px;
    top: 139px;
}

.image2:hover .tours-name {
    color: #F26522;
}


.image3 {
    padding: 0 0 37px 30px;
}

.image3:hover .orange-block {
    display: block;
    position: absolute;
    left: 32px;
    top: 139px;
}

.image3:hover .tours-name {
    color: #F26522;
}

.image4 {
    padding: 37px 35px 0 0;
}

.image4:hover .orange-block {
    display: block;
    position: absolute;
    left: 2px;
    top: 175px;
}

.image4:hover .tours-name {
    color: #F26522;
}

.image5 {
    padding: 37px 35px 0 30px;
}

.image5:hover .orange-block {
    display: block;
    position: absolute;
    left: 32px;
    top: 175px;
}

.image5:hover .tours-name {
    color: #F26522;
}

.image6 {
    padding: 37px 0 0 30px;
}

.image6:hover .orange-block {
    display: block;
    position: absolute;
    left: 32px;
    top: 175px;
}

.image6:hover .tours-name {
    color: #F26522;
}

.bordered-image {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(white, rgba(0, 0, 0, 0)) 1;
}

.tours-name {
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

/*.tours-name:hover {*/
/*    color: #F26522;*/
/*}*/

.footer {
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    color: #FFFFFF;
}

